  body{
    background-image: url('/src/assets/img/fondo.png');
    }

  .center-div {
      background:rgb(255, 255, 255,0);
      padding:40px 0;
      
    }
  
  .center-div form {
    max-width:320px;
    width:90%;
    margin:0 auto;
    background-color:rgb(233, 232, 231);
    padding:40px;
    border-radius:4px;
    color:#505e6c;
    box-shadow:2px 2px 1px rgba(15, 15, 15, 0.1);
    border-radius: 10px;
  }
  .header-form{
    border-radius: 10px 10px 0px 0px;;
    margin-top: -40px;
    margin-left: -40px;
    margin-bottom: 40px;
    margin-right: -40px;
    width: auto;
    background-color: rgb(71,161,244);
    padding: 10px;
    color: white;
    text-align: center;
  }
  .register form{
    max-width:520px;
    width:90%;
    margin:0 auto;
    background-color:rgb(233, 232, 231);
    padding:40px;
    border-radius:4px;
    color:#505e6c;
    box-shadow:2px 2px 1px rgba(15, 15, 15, 0.1);
  }

  
  .center-div .illustration {
    text-align:center;
    padding:0 0 20px;
    font-size:100px;
    color:rgb(71,161,244);
  }
  
  .center-div form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:8px;
    height:42px;
  }
  
  .center-div form .btn-primary {
    background:rgb(71,161,244);
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none !important;
  }
  
  .center-div form .btn-primary:hover, .center-div form .btn-primary:active {
    background:rgb(71,161,244);
  }
  
  .center-div form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .center-div form .register-btn {
    display:block;
    text-align:center;
    font-size:16px;
    color:rgb(71,161,244);
    opacity:0.9;
    text-decoration:none;
  }
  
  .center-div form .register-btn:hover, .center-div form .register-btn:active {
    opacity:1;
    cursor: pointer;
  }

  .hand{
    opacity:0.9;
  }

  .hand:hover{
    opacity:1;
    text-decoration:none;
    cursor: pointer;
  }

  .navigation-clean-search.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
    color:#37434d !important;
    background-color:transparent;
  }

  .pagination{
    display: flex;
  }

  .pagination ul{
    display: flex;
    align-content: space-between;
    margin: auto;
  }

  .pagination ul li{
    width: 6em;
    font-size:18px;
    opacity: 0.9;
    text-align: center;
  }

  @media only screen and (max-width: 770px) {
    
    .pagination ul{
      flex-direction: row;
      width: 100%;
      margin-left: 41px;
    }
  
    .pagination ul li{
      margin: auto;
      width: 4em;
    }
  }


  .pagination ul li:hover{
    cursor: pointer;
    color: rgb(41, 41, 41);
  }

  .selected{
    border-bottom: 5px solid white;
  }

  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .normal-header{
    background: rgba(201,201,201,1);
    background: -moz-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(79,79,79,1) 100%);
    background: -webkit-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(79,79,79,1) 100%);
    background: -o-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(79,79,79,1) 100%);
    background: -ms-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(79,79,79,1) 100%);
    background: linear-gradient(to bottom, rgba(201,201,201,1) 0%, rgba(79,79,79,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#4f4f4f', GradientType=0 );
  }
  

  .features-boxed {
    color:#313437;
    background-color:#eef4f7;
  }
  
  .features-boxed p {
    color:#7d8285;
  }
  
  .features-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .features-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .features-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .features-boxed .intro p {
    margin-bottom:0;
  }
  
  .features-boxed .features {
    padding:50px 0;
  }
  
  .features-boxed .item {
    text-align:center;
  }
  
  .features-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
  }
  
  .features-boxed .item .icon {
    font-size:60px;
    color:#1485ee;
    margin-top:20px;
    margin-bottom:35px;
  }
  
  .features-boxed .item .name {
    font-weight:bold;
    font-size:18px;
    margin-bottom:8px;
    margin-top:0;
    color:inherit;
  }
  
  .features-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  
  
  