<!-- Header -->
<div style="background-color:rgb(71,161,244);padding:10px" *ngIf="!identity">
  <h1 style="color: white;font-size:30px">Detodito<br></h1>
</div>


<!-- Mensajes de error-->
<div *ngIf="errorMessage">
  <div class="alert alert-warning">
    <strong>Error!</strong> {{errorMessage}}
  </div>
</div>

<!-- Mensajes con informacion-->
<div *ngIf="infoMessage">
  <div class="alert alert-info">
    {{infoMessage}}
  </div>
</div>

<!-- Formulario de login-->
<div class="center-div" *ngIf="!switchRegister && !identity">
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <h1 class="header-form">Iniciar sesion</h1>
    <div class="form-group">
      <input class="form-control" type="text" #username="ngModel" name="username" [(ngModel)]="user.username"
        placeholder="usuario" ng-model="required" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" #password="ngModel" name="password" [(ngModel)]="user.password"
        placeholder="contraseña" ng-model="required" required>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Iniciar sesion</button>
    </div>
    <a (click)="switchRegister = !switchRegister" class="register-btn">Registrarse</a>
  </form>
</div>

<!-- Formulario de registro-->
<div class="center-div register" *ngIf="switchRegister && !identity">
  <form (ngSubmit)="register()">
    <h1 class="header-form">
      <i (click)="switchRegister = !switchRegister" class="fa fa-arrow-left hand" style="font-size:38px"></i>
      Registrate
    </h1>
    <div class="form-group">
      <input class="form-control" type="text" #name="ngModel" name="name" [(ngModel)]="user.name" placeholder="Nombre"
        required>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" placeholder="Apellidos"
        required>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" #telephone name="telephone" [(ngModel)]="user.telephone" placeholder="Telefono"
        required>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" #address="ngModel" name="address" [(ngModel)]="user.address" placeholder="Direccion"
        required>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" #username="ngModel" name="username" [(ngModel)]="user.username"
        placeholder="Nombre de usuario" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="email" #email="ngModel" name="email" [(ngModel)]="user.email" placeholder="Email"
        required>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" #password="ngModel" name="password" [(ngModel)]="user.password"
        placeholder="Contraseña" required>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Registrate</button>
    </div>
  </form>
</div>

<!-- Contenido de la aplicacion-->
<detodito-component *ngIf="identity" (logout)="onlogout()"></detodito-component>