<!-- Header Navigation-->
<nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="background-color:rgb(71,161,244);color:rgb(255,255,255);">
    <div class="container">
        <a class="navbar-brand" href="#" style="font-family:Roboto, sans-serif;font-size:26px;color:rgb(255,255,255)">Detodito</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1" style="color:rgb(255,255,255);">
            <ul class="nav navbar-nav" style="font-size:18px;font-family:Roboto, sans-serif;">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" (click)="goTo('profile')" style="color:rgb(255,255,255);">Perfil</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" (click)="goTo('joinus')" style="color:rgb(255,255,255);">Unete a nosotros</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" (click)="goTo('aboutus')" style="color:rgb(255,255,255);">Acerca de nosotros</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" (click)="goTo('config')" style="color:rgb(255,255,255);">Configuracion</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" (click)="logout.next()" style="color:rgb(255,255,255);">Cerrar sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- SubHeader Navigation Page-->
<nav class="navbar navbar-expand-md pagination" style="background-color:rgb(45,150,247);color:rgb(255,255,255);">
    <ul class="nav navbar-nav" style="font-family:Roboto, sans-serif;">
        <li class="nav-item">
            <a class="nav-link selected" (click)="goTo('home')">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="goTo('favorites')">Favoritos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="goTo('orders')">Pedidos</a>
        </li>
    </ul>
</nav>

<!--Cargar otros componentes aqui-->
<home-component *ngIf="router=='home'"></home-component>
<user-component *ngIf="router=='profile'"></user-component>


<!--Footer-->
<div class="footer-basic" style="background-color:rgb(71,161,244);color:rgb(255,255,255);height:81px;padding:10px;">
    <footer>
        <p class="copyright" style="color:rgb(255,255,255);font-family:Roboto, sans-serif;font-size:19px;">
            Detodito Apps © 2019</p>
    </footer>
</div>