<div class="features-boxed" style="background-color:rgba(238,244,247,0.22);">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="background-color:rgba(221,92,92,0);">Categorias</h2>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box" style="background-color:rgb(217,216,215);"><img class="rounded-circle" src="assets/img/restaurantes.png" width="160" height="160">
                    <h3 class="name" style="color:rgb(251,251,251);font-size:20px;">Restaurantes</h3>
                    <p class="description" style="color:rgb(60,63,65);">30 Cerca de ti</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box" style="background-color:rgb(217,216,215);"><img class="rounded-circle" src="assets/img/restaurantes.png" width="160" height="160">
                    <h3 class="name" style="color:rgb(251,251,251);font-size:20px;">Comidas rapidas</h3>
                    <p class="description" style="color:rgb(60,63,65);">30 Cerca de ti</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box" style="background-color:rgb(217,216,215);"><img class="rounded-circle" src="assets/img/restaurantes.png" width="160" height="160">
                    <h3 class="name" style="color:rgb(251,251,251);font-size:20px;">Farmacias</h3>
                    <p class="description" style="color:rgb(60,63,65);">30 Cerca de ti</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box" style="background-color:rgb(217,216,215);"><img class="rounded-circle" src="assets/img/restaurantes.png" width="160" height="160">
                    <h3 class="name" style="color:rgb(251,251,251);font-size:20px;">Ferreterias</h3>
                    <p class="description" style="color:rgb(60,63,65);">30 Cerca de ti</p>
                </div>
            </div>
        </div>
    </div>
</div>