<!-- Mensajes de error-->
<div *ngIf="errorMessage">
    <div class="alert alert-warning">
        <strong>Error!</strong> {{errorMessage}}
    </div>
</div>

<!-- Mensajes con informacion-->
<div *ngIf="infoMessage">
    <div class="alert alert-info">
        {{infoMessage}}
    </div>
</div>

<div class="center-div register">
    <form (ngSubmit)="update()">
        <div class="header-form normal-header">
            <h2>Tipo de cuenta</h2>
            <h3>Cuenta Normal</h3>
        </div>

        <h1 style="text-align:center">Datos personales</h1>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" #name="ngModel" name="name" [(ngModel)]="user.name" placeholder="Nombre"
                required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname"
                placeholder="Apellidos" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" #telephone name="telephone" [(ngModel)]="user.telephone"
                placeholder="Telefono" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" #address="ngModel" name="address" [(ngModel)]="user.address"
                placeholder="Direccion" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" #username="ngModel" name="username" [(ngModel)]="user.username"
                placeholder="Nombre de usuario" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" #email="ngModel" name="email" [(ngModel)]="user.email" placeholder="Email"
                required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" #password="ngModel" name="password" [(ngModel)]="user.password"
                placeholder="Contraseña" required>
        </div>
        <div class="form-group">
            <button class="btn btn-secondary btn-block" type="submit">Actualizar</button>
        </div>
    </form>
</div>